@model ArticleListViewModel
<style>
    /*Да, я так захотел сделать, а не через site.css. Например, через site.css сделан шрифт*/
    table {
        position: relative; /* Устанавливаем относительное позиционирование */
        left: -15%; /* Сдвигаем таблицу влево на 15% */
    }
</style>
<h1>Список статей с пагинацией для гостей сайта</h1>
<div class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++) @*Генерация ссылок на странице*@
    {
        <a href="@Url.Action("ShowArticlesFromDBForGuests", new {pageNumber = i})" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
    }
    @*
    href="@Url.Action("ShowArticlesFromDBForGuestsWithPagination", new {pageNumber = i})" - генерация URL для действий контроллера ShowArticlesFromDBForGuestsWithPagination,
    где i - номер страницы, а @i - номер страницы, видимый пользователю.
    (i == Model.CurrentPage ? "active" : "") - проверка того, является ли номер страницы (i) равным номеру страницы, на которой находится пользователь (Model.CurrentPage). Если это так,
    то к классу ссылки добавляется active, что позволяет выделить сраницу визуально (например, изменить цвет фона или шрифта)
    Пример (не относящийся к проекту):
    <div class="pagination">
    <a href="/Controller/ShowArticlesFromDBForGuestsWithPagination?PageNumber=1">1</a>
    <a href="/Controller/ShowArticlesFromDBForGuestsWithPagination?PageNumber=2"class="active">2</a>
    <a href="/Controller/ShowArticlesFromDBForGuestsWithPagination?PageNumber=3">3</a>
    </div>
    *@
</div>
<br />
<table class="table table-bordered" align="center" width="100%">
    <thead class="table-light">
        <tr>
            <th id="font-Montserrat" scope="col" valign="middle">Ссылки на статьи</th>
            <th id="font-Montserrat" scope="col" valign="middle">Текст</th>
            <th id="font-Montserrat" scope="col" valign="middle">Изображение</th>
            <th id="font-Montserrat" scope="col" valign="middle">Дата публикации</th>
            <th id="font-Montserrat" scope="col" valign="middle">Уровень позитива</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles!)
        {
            <tr>
                <td id="font-Montserrat" scope="row"><a href="@article.Title">@article.Title</a></td>
                <td id="font-Montserrat" scope="row">@article.Text</td>
                <td id="font-Montserrat" scope="row"><img src="@article.Source" alt="Изображение статьи" style="width:350px; height:auto;" /></td>
                <td id="font-Montserrat" scope="row">@article.PublicationDate.ToString("dd.MM.yyyy H:mm")</td>
                <td id="font-Montserrat" scope="row">@article.PositiveLevel</td>
            </tr>
        }
    </tbody>
</table>



@*Начало старого работающего кода без пагинации*@
@* @model IEnumerable<Article>
<style>
    /*Да, я так захотел сделать, а не через site.css. Например, через site.css сделан шрифт*/
    table {
        position: relative; /* Устанавливаем относительное позиционирование */
        left: -15%; /* Сдвигаем таблицу влево на 15% */
    }
</style>
<h1>Список статей</h1>

<table class="table table-bordered" align="center" width="100%" >
    <thead class="table-light">
        <tr>
            <th id="font-Montserrat" scope="col" valign="middle">Ссылки на статьи</th>
            <th id="font-Montserrat" scope="col" valign="middle">Текст</th>
            <th id="font-Montserrat" scope="col" valign="middle">Изображение</th>
            <th id="font-Montserrat" scope="col" valign="middle">Дата публикации</th>
            <th id="font-Montserrat" scope="col" valign="middle">Уровень позитива</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td id="font-Montserrat" scope="row"><a href="@article.Title">@article.Title</a></td>
                <td id="font-Montserrat" scope="row">@article.Text</td>
                <td id="font-Montserrat" scope="row"><img src="@article.Source" alt="Изображение статьи" style="width:350px; height:auto;" /></td>
                <td id="font-Montserrat" scope="row">@article.PublicationDate.ToString("dd.MM.yyyy H:mm")</td>
                <td id="font-Montserrat" scope="row">@article.PositiveLevel</td>
            </tr>
        }
    </tbody>
</table> *@
@*Окончание старого работающего кода без пагинации*@