@model ArticleUser
<style>
    /*Да, я так захотел сделать, а не через site.css. Например, через site.css сделан шрифт*/
    table {
        position: relative; /* Устанавливаем относительное позиционирование */
        left: -15%; /* Сдвигаем таблицу влево на 15% */
    }
</style>
@if (ViewData["UserNotFoundMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["UserNotFoundMessage"]</div>
}
<h3><b>Приветствую тебя, пользователь @Model.ListUsers.First().Login</b></h3>
<p><font color="#75ff33"><b>Выбранный уровень позитива: @Model.ListUsers.First().SelectedPositiveLevel</b></font></p>

<h3>Список статей:</h3>
@if (Model.ListArticles.Any())
{
    <table class="table table-bordered" align="center" width="100%">
        <thead class="table-light">
            <tr>
                <th id="font-Montserrat" scope="col" valign="middle">Ссылки на статьи</th>
                <th id="font-Montserrat" scope="col" valign="middle">Текст</th>
                <th id="font-Montserrat" scope="col" valign="middle">Изображение</th>
                <th id="font-Montserrat" scope="col" valign="middle">Дата публикации</th>
                <th id="font-Montserrat" scope="col" valign="middle">Уровень позитива</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.ListArticles)
            {
                <tr>
                    <td id="font-Montserrat" scope="row"><a href="@article.Title">@article.Title</a></td>
                    <td id="font-Montserrat" scope="row">@article.Text</td>
                    <td id="font-Montserrat" scope="row"><img src="@article.Source" alt="Изображение статьи" style="width:350px; height:auto;" /></td>
                    <td id="font-Montserrat" scope="row">@article.PublicationDate.ToString("dd.MM.yyyy H:mm")</td>
                    <td id="font-Montserrat" scope="row">@article.PositiveLevel</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет статей, соответствующих вашему уровню позитива.</p>
}
@* @if (Model.ListArticles.Any())
{
    <ul>
        @foreach (var article in Model.ListArticles)
        {
            <li>
                <strong>@article.Title</strong><br />
                <em>Источник: @article.Source</em><br />
                <p>@article.Text</p>
                <small>Дата публикации: @article.PublicationDate.ToShortDateString()</small>
                <small>Уровень позитива: @article.PositiveLevel</small>
            </li>
        }
    </ul>
}
else
{
    <p>Нет статей, соответствующих вашему уровню позитива.</p>
} *@
